.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.input-label {
  position: absolute;
  opacity: 40%;
  top: -26px;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.required_star {
  color: red;
  margin-left: 5px;
}
